*.log
*.aux
*.out
*.synctex.gz
test-utf8.tex
test-utf8.pdf
*.prj
*.prj.bak
.DAV
fail.pdf
work.pdf
*.newpax
!testfiles/support/*.newpax
pax-test.pdf
tests
*.pdf
!testfiles/support/*.pdf
build
*.curlopt
